.getstarted {
  &__container {
    display: grid;
    grid-template-rows: 15rem minmax(40rem, auto) 10rem;
    grid-template-columns: 0.4fr minmax(900px, 0.95fr) 0.4fr;
    background: rgb(144, 144, 144);
  }
  &__form {
    grid-column: 2/3;
    grid-row: 2/3;

    margin-top: 6rem;
    justify-self: center;
    width: 75%;

    &-label {
      width: 50rem;
      text-transform: capitalize;
      margin-bottom: 0.5rem;
    }
    &-name {
      padding: 1rem;
      margin-bottom: 0.5rem;
    }
    &-emai {
      padding: 1rem;
      margin-bottom: 1.5rem;
    }
    &-message {
      padding: 1rem;
      height: 14rem;
    }

    &-sites {
      resize: none;
      padding: 1.5rem;
    }
    &-input {
      text-transform: capitalize;
      padding: 1rem;
      width: 19rem;
    }
    &-header {
      font-size: 3rem;
      text-transform: capitalize;
    }
    &-select {
      padding: 1rem;
    }
  }
  &__forms {
    display: flex;
    flex-direction: column;
  }

  &__nav {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  &__footer {
    height: 100%;
    width: 100%;
    grid-row: 3/4;
    grid-column: 2/3;
  }

  &__form-message {
    resize: none;
    margin-bottom: 3rem; 
    margin-top: 4rem;
  }
  &__header {
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 3.5rem;
  }
  &__select {
    width: 16rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }

  &-li {
    margin-bottom: 3rem;
  }
}

.colorpicker {
  
  &__square {
    height: 5rem;
    width: 5rem;
    background: blue;
    margin: 0 1rem 1rem 2.5rem;

    &-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
