.navbar {
  &__container {
    grid-column: 1/-1;
    grid-row: 1/2;
    background: transparent;
    height: 15rem;
    width: 100%;
    z-index: 25;
    display: grid;
    grid-template-columns: 1fr 1fr .55fr;
  }
  &__logo {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    align-items: center;
  

    & svg {
      height: 15.5rem;
      width: 26.5rem;
      fill: #fff;
    }
  }

  &__links {
    grid-column: 2/3;
    display: grid;

    &-list {
      display: flex;
      list-style: none;
      align-content: center;
      justify-self: end;
      margin-top: 7rem;
      font-size: 2rem;

      &-item {
        
        &:not(:last-child) {
          margin-right: 2.5rem;
        }
        & a {
          text-decoration: none;
          color: #fff;
          display: inline-block;
          font-weight: 200;
          outline: none;
          
          

          &::after {
            content: "";
            display: block;
            width: 0;
            height: 3px;
            background: $color-primary;
            margin-top: 0.3rem;

            transition: width 0.4s;
          }
          &:hover::after {
            width: 100%;
          }
          &::-moz-focus-inner {
            border: 0;
        }
        }
      }
    }
  }
}


.center {
  justify-items: center;
}
.start{
  justify-items: start;
}
